name: Regression suite
on:
  push:
    branches:
      - main
    
  pull_request:
    branches:
      - main
  
  schedule:
    # Runs at midnight UTC every day (00:00)
    # - cron: '0 0 * * *'
    
    # Runs every 15 minutes for TESTING
    - cron: '*/15 * * * *'
  workflow_dispatch:  # Allows manual triggering for testing
      
jobs:
  run-tests:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install Dependencies
        run: |
            python3 -m venv venv
            source venv/bin/activate
            pip3 install --upgrade pip
            pip3 install -r requirements.txt
      
      - name: Run run-tests
        run: |
            echo "Current directory:"
            pwd
            pytest -s

      - name: Upload report
        uses: actions/upload-artifact@v4
        with:
          name: pytest-report
          path: report.html